#Backend 

#python
__pycache__/    
*.pyc
*.pyo
*.py[cod]
*pyd

#Django
db.sqlite3
media/
staticfiles/

#virtual Env
venv/
env/

#vs code
.vscode/

#Node React
node_modules/
build/

#Environment Variables
.env
