<!DOCTYPE html>
<html lang="en">

<head>

</head>
<bod>
    <h1>Create Account</h1>

    {% if messages %} <!-- check if there are any messages to display (like error messages) --> 
        {%for messages in messages %}  <!-- loop through the messages and display them in red color -->
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %} <!-- end of messages loop -->
    <form method = "POST"> <!-- create a form that submits data using POST method to the same url (register/) -->
        {% csrf_token %}
        {{ form.as_p }}<!-- display the form fields as paragraphs -->
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login/">Login here</a></p>
</body>
</html>