<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>

<body>
    <h1>Students</h1>
    
    <a href="/add/">Add Student</a>
    <ul>
    {% if students %}  
        {% for student in students %}
            <li>
                <strong>{{ student.name }}</strong> - {{ student.email }} - {{ student.course }}
             </li>
        {% endfor %}
    {% else %}
            <p>No students found.</p>
        {% endif %}
    </ul>
</body>
</html>